<main class="container-fluid">
  <div class="row mt-3">
    <div class="col-6"> <h1> Listado Categoria </h1> </div>
    <div class="col-6 text-end"> <button mat-raised-button color="primary" [routerLink]="['0']"> <mat-icon>add</mat-icon> Agregar </button> </div>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table class="w-100" aria-label="Elements" [dataSource]="dataSource">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let cat">{{cat.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef class="">Nombre</th>
        <td mat-cell *matCellDef="let cat">{{cat.nombre}}</td>
      </ng-container>
  
      <!-- actions Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let cat">
          <a alt="Editar" [routerLink]="cat.id"><mat-icon  matTooltip="Editar Categoria">edit</mat-icon></a>
          <a alt="Eliminar" (click)="deleteCategoria(cat)" class="g-pointer"><mat-icon  matTooltip="Eliminar Categoria">delete</mat-icon></a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let cat; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator
        [length]="dataSource.totalCounts$ | async"
        [pageIndex]="0"
        [pageSize]="pageRegister"
        [pageSizeOptions]="[3, 5, 10, 20, 30]"
        aria-label="Select page">
    </mat-paginator>
  </div>
</main>